<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by  <a href="http://hexo.io/" target="_blank">Hexo</a>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        | <a href="https://beian.miit.gov.cn/" target="_blank">
          <%= config.icp %>
        </a>
      </p>
    </div>
  </div>
</footer>
